*{
  font-family: Helvetica;
  text-align: center;
}

.navbar{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-color: #cccccc;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

a{
  font-size: 18px;
  color: white;
}

h4{
  background-image: url("../images/the-flatiron-building.png");
  background-color: #cccccc;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

footer{
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}

footer, a{
  font-size: 11px;
}

.navbar, a{
  font-size: 18px;
  line-height: 30px
}
